</div>
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Hendri Permana Putra</span>
    </div>
  </div>
</footer>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
  integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script>
  const confirmDelete = id => {
    $('#confirmBtn').attr('onclick', `deleteCar('${id}')`);
  }

  const searchByKeyword = () => {
    let keyword = "";
    if($("#searchDesktop").val() != ""){
      keyword = $("#searchDesktop").val();
    } else {
      keyword = $("#searchMobile").val();
    }

    window.location.href = `/cars/keyword/${keyword}`;
  }


  const deleteCar = id => {
    let config = {
      method: 'delete',
      url: `http://localhost:8000/cars/${id}`,
      headers: {}
    };
    axios(config)
      .then(function (response) {
        Toastify({
        text: `${response.data.message}`,
        duration: 3000,
        gravity: "top",
        position: "center",
        style: {
          background: "#151515",
          padding: "10px 50px",
          borderRadius: "8px"
        },
        onClick: function () {}
      }).showToast();
        setTimeout(() => {
          window.location.href = '/';
        }, 1000);
      })
      .catch(function (error) {
        console.log(error);
      });
  }
  const rupiah = (number)=>{
    return new Intl.NumberFormat("id-ID", {
      style: "currency",
      currency: "IDR"
    }).format(number);
  }

  const addCar = () => {
    let name = $('#name').val();
    let price = rupiah($('#price').val());
    let size = $('#size').val();
    let image = $('#image')[0].files[0];
    if (name == '' || price == '' || size == '' || image == undefined) {
      Toastify({
        text: "Please fill all the fields",
        duration: 3000,
        gravity: "top",
        position: "center",
        style: {
          background: "#FF1818",
          padding: "10px 50px",
          borderRadius: "8px"
        },
        onClick: function () {}
      }).showToast();
      return;
    }

    let data = new FormData();
    data.append('name', name);
    data.append('price', price);
    data.append('size', size);
    data.append('image', image);

    let config = {
      method: 'post',
      url: 'http://localhost:8000/cars',
      data: data
    };
    axios(config)
      .then(function (response) {
        Toastify({
        text: `${response.data.message}`,
        duration: 1000,
        gravity: "top",
        position: "center",
        style: {
          background: "#73CA5C",
          padding: "10px 50px",
          borderRadius: "8px"
        },
        onClick: function () {}
      }).showToast();
        setTimeout(() => {
          window.location.href = '/';
        }, 1000);
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  const editCar = (id) => {
    let name = $('#name').val();
    let price = rupiah($('#price').val());
    let size = $('#size').val();
    let image = $('#image')[0].files[0];
    let data = new FormData();
    data.append('name', name);
    data.append('price', price);
    data.append('size', size);
    data.append('image', image);

    let config = {
      method: 'put',
      url: `http://localhost:8000/cars/${id}`,
      data: data
    };
    axios(config)
      .then(function (response) {
        Toastify({
        text: `${response.data.message}`,
        duration: 1000,
        gravity: "top",
        position: "center",
        style: {
          background: "#73CA5C",
          padding: "10px 50px",
          borderRadius: "8px"
        },
        onClick: function () {}
      }).showToast();
        setTimeout(() => {
          window.location.href = '/';
        }, 1000);
      })
      .catch(function (error) {
        console.log(error);
      });
  }
</script>

</body>

</html>